
.animated-text {
	display: inline-block;
	white-space: nowrap;
}
.animated-text span {
	opacity: 1;
	display: inline-block;
}
.animate-on-hover:hover span {
	animation: fadeIn 0.1s forwards;
	opacity: 0;
}
.animated-text span:nth-child(1) {
	animation-delay: 0s;
}
.animated-text span:nth-child(2) {
	animation-delay: 0.1s;
}
.animated-text span:nth-child(3) {
	animation-delay: 0.2s;
}
.animated-text span:nth-child(4) {
	animation-delay: 0.3s;
}
.animated-text span:nth-child(5) {
	animation-delay: 0.4s;
}
.animated-text span:nth-child(6) {
	animation-delay: 0.5s;
}
.animated-text span:nth-child(7) {
	animation-delay: 0.6s;
}
.animated-text span:nth-child(8) {
	animation-delay: 0.7s;
}
.animated-text span:nth-child(9) {
	animation-delay: 0.8s;
}
.animated-text span:nth-child(10) {
	animation-delay: 0.9s;
}
.animated-text span:nth-child(11) {
	animation-delay: 1s;
}
.animated-text span:nth-child(12) {
	animation-delay: 1.1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.cursor {
	display: inline-block;
	animation: blink 1s infinite;
	opacity: 1;
}

@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}
	51%,
	100% {
		opacity: 0;
	}
}